
@import url('https://fonts.googleapis.com/css?family=Oswald');

.row img{
	transition-duration: 1s;

	
}
.row{
    margin-right: auto;
    margin-left: auto; 
}
.row img:hover{
/*		transition-duration: 0.5s;
	-webkit-filter: grayscale(100%) blur(3px); 
    filter: grayscale(100%) blur(3px);
    transition-duration: 0.5s;
*/
    

}

.halfWidth {
    width: 50%;
}

.grid{
height: 470px;
  display: grid;
}

.img1{
/* background: url("../img/Culture - Monuments.jpg");*/
background-size: 100% 100%;

}

    
 .grid:hover {
 	cursor: pointer;
    transition-duration: 0.5s;
  -webkit-filter: grayscale(100%) blur(0px); 
    filter: grayscale(100%) blur(0px);
    box-shadow: 0px 0px 35px black
}

.title2{
	font-family: 'Oswald', sans-serif;
	padding-top: 20%;
transition: 0.5s;
opacity: 0;
margin-left: auto;
margin-right: auto;
text-align: center;
position: sticky;
font-size: 5em;
color: white;

}

.img1:hover .title2{
	transition:0.5s;
	opacity:1;
	text-shadow: 0px 5px 20px black;
}

.row{
	 font-family: Helvetica Neue, Helvetica, Arial, sans-serif;

}





#un{background-image: url(http://img6.imageshack.us/img6/6806/o2bj.jpg);}

#deux{
    transition: 0.5s;
    background-color:white;
    opacity:0.5;}

#un:hover #deux{transition:0.5s; opacity:1}






