<<<<<<< HEAD
&.navbar-shrink {
=======
 &.navbar-shrink {
>>>>>>> e018c61cb81a99860fb24a3a081d97f730a697c1
      border-bottom: 1px solid fade-out($gray-900, .9);
      background-color: $white;
      .navbar-brand {
        color: $primary;
        &:focus,
        &:hover {
          color: darken($primary, .1);
        }
      }
